<!--#####################################
  # Edita nombre especie existente
  # index ->
  # -> update
#####################################-->

<h1>Editar especie</h1>
<hr/>

<%= render 'form' %>

</br>
</br>

<nav class="links_bajo">
  <span style="float:right">  
     <%= link_to "Listado Animales", animals_path %> |
     <%= link_to "Listado Especies", especies_path %>
  </span>
</nav>

