<!--#####################################
  # Crea especie nueva
  #  index ->
  #  -> index
#######################################-->

<h1>Nueva Especie</h1>
<hr/>


<%= render 'form' %>

</br>



<nav class="links_bajo">
  <span style="float:right">  
       <%= link_to "Especies", especies_path %> | <%= link_to "Animales", animals_path %>
  </span>
</nav>
