<!--#####################################
 # Edita información de un chenil
 #  show->
 #  -> _form
#######################################-->

<h1>Editar animal</h1>


<%= render 'form' %>

</br>

<nav class="links_bajo">
  <span style="float:right">  
     <%= link_to 'Ficha animal', @animal %> |
     <%= link_to 'Listado animales', animals_path %>
  </span>
</nav>
