<!--#####################################
# Edita información de una zona
#  show->
#  -> _form
#####################################-->


<h1>Editar zona</h1>
<hr/>

<%= render 'form' %>


</br>

<nav class="links_bajo">
  <span style="float:right">  
	<%= link_to 'Ficha', @zona %> |
	<%= link_to 'Listado Zonas', zonas_path %>
  </span>
</nav>


