<!--#####################################
# Crea zona nueva
#   !solo administrador
#   administracionzonas->
#   -> _form
#####################################-->


<h1>Zona Nueva</h1>
<hr/>


<%= render 'form' %>


</br>
<nav class="links_bajo">
  <span style="float:right">  
	<%= link_to 'Atras', :action=>"administracionzonas" %> 
  </span>
</nav>


