<!--#####################################
# Crea chenil nuevo
#   index->############################################
#   -> _form
#####################################-->


<h1>chenil nuevo</h1>

<%= render 'form' %>


</br>
<nav class="links_bajo">
  <span style="float:right">  
	<%= link_to "Atras", {:controller=> "zonas", :action=>"cheniles"} %>
  </span>
</nav>
