<h1></h1>

<footer>

<div id="padre">


  <!--span class="ejemplo"-->

	<div id="hijoizq">
           <p2>Departamento Lenguajes y Ciencias de la Computación Universidad de Málaga</p2>
        </div>

	<div id="hijoder">
           <f2>Juan José Rodríguez</f2></br>
           <f2>Ivan Gómez</f2>
        </div>

  </span>


</div>

</footer>



